/* RESETE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
}
/* CABEÇALHO */
.cabecalho {
    background-color: blue;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    padding: 15px 0;
    margin-bottom: 50px;
}
/* PRINCIPAL */
.principal {
    width: 100%;
    
    padding: 0 30%;
}

.lista-tarefas {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.item-tarefa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    margin: 5px 0;
    background-color: blue;
    border-radius: 5px;
}

.item-tarefa div {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.item-tarefa input {
    background-color: red;
    color: aliceblue;
    border-radius: 3px;
    padding: 1px;
    width: 15px;
}

.item-tarefa input:checked ~ .tarefa {
    text-decoration: line-through black 2px;
}

#nome-tarefa {
    width: 50%;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}
